@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.manrope-extrabold {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.plus-jakarta-sans-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.plus-jakarta-sans-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


nav a.active {
    color: #0EA106;
    font-weight: 800;
}


.mobile-menu a.active {
    color:#0EA106;
    font-weight: 900;
}